<!DOCTYPE HTML>
<html>
<head>
    <title>Tom's 스프링부트 프로젝트</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>
        여기는 인덱스 페이지
    </h1>
</body>
</html>